body {
    background-color: whitesmoke;
}
.fa {
    color: rgb(85, 85, 196);
}
.box-part {
    background-color: white;
    padding : 40px 20px;
    margin : 30px 10px ;
}
span {
    font-size: 12px;
}
.text {
    margin: 20px 0px;
}
a {
    border-bottom: 1px solid blue ;
}
.box {
padding: 60px 0px ;
}